:root {
    ---color-secondary: #feb900;
}

* {
    font-family: "Roboto", sans-serif;
}

/* header */
.titik {
    color: var(---color-secondary);
}

header {
    width: 100%;
    z-index: 2;
    background: transparent;
}

.header-padding {
    padding: 25px 150px;
}

.nav-link {
    font-size: 14px;
    color: rgb(206, 201, 201);
    /* filter: brightness(0.8); */
    font-weight: 400;
}

.nav-item::after {
    content: "";
    background-color: var(---color-secondary);
    width: 0%;
    display: block;
    height: 2px;
    transition: .5s;
}

.nav-item :hover {
    color: white;
}

.nav-item:hover::after {
    width: 100%;
}

.img-slide {
    filter: brightness(0.3);
}

.judul {
    font-size: 56px;
    font-weight: 700;
}

.judul::after {
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    margin: auto;
    display: block;
}

/* .btn{
    border-radius: 50px;
    border-color: #feb900;
    border-width: 2px;
    padding: 12px 40px;
    color: white;
}

.btn :hover{
    color: white;
} */

.btn-start {
    color: white;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    padding: 12px 40px;
    border-radius: 50px;
    border: 2px solid var(---color-secondary);

}

.btn-start:hover {
    background: var(---color-secondary);
    color: white;
}

/* Section Form Quotes */
#form-title-kanan::after {
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    display: block;
    margin-top: 12px;
}

#btn-submit {
    background: var(---color-secondary);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px
}

/* Section Service Tab */

.btn {
    border: none;
    border-radius: 0 !important;
}

.btn-link {
    color: grey !important;
    font-weight: 600 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px !important;
    transition: .3s;
}

.btn-link:hover {
    color: #feb900 !important;
}

.nav-item .btn-link.active {
    border-bottom: 3px solid var(--color-secondary);
    color: #feb900 !important;
}

.header-constructions::before .title-constructions {
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    margin: auto;
    display: block;
}

/* Section Service Tab */



.list {
    transition: 0.3s;
    font-weight: 600;
}

.list:hover {
    color: #feb900;
    cursor: pointer;
}

.list.active {
    color: #feb900;
}

/* Our Projects */
.overlay-content {
    transition: .3s;
    /* Todo : Default Opacity 0 */
}

.overlay-content .icons {
    position: absolute;
    top: 50%;
    left: 42%;

}

.overlay-content .icons i {
    transition: .3s;
}

.overlay-content .icons i:hover {
    color: var(---color-secondary);
}

.overlay-content h4 {
    position: absolute;
    top: 8px;
    left: 14px;
    background-color: var(---color-secondary);
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
}

.overlay-content p {
    position: absolute;
    bottom: 8px;
    left: 12%;
    color: gainsboro;
    font-weight: bold;

}

.image-container img {
    transition: .3s;

}

.image-container {
    overflow: hidden;
}

.image-container:hover img {

    transform: scale(1.1);

    opacity: 0.3;
}

.image-container .overlay-content {
    opacity: 0;
    transition: .3s;
}

.image-container:hover .overlay-content {
    opacity: 1;
}

.card-recent-post:hover {

}

.footer {
    color: #fff;
    
    background-size: cover;
    font-size: 14px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.585), rgba(44, 44, 44, 0.702)), url(assets/carousel/hero-carousel-1.jpg);

    padding: 80px 0 60px 0;
    position: relative;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.footer-links ul li a{
    text-decoration: none;
    color: rgb(166, 166, 166);
    transition: .3s;
}

.footer-links ul li a:hover{
    
    color: rgb(255, 255, 255);
    
}

.footer-links ul {
    list-style-type: none;
    
}